<h1>About dap-web-utility</h1>

<p>dap-web-utility is designed for field engineers by field engineers</p>
<!--
<ul>
    <li>On screen instruction - minize your time & effort for scripting</li>
    <li>Smaller in image size, comparing to offical conjur-cli</li>
    <li>No compromise in security</li>
    <li>Comes with handy tools (see below)</li>
</ul>

<h2>Security</h2>
<ul>
    <li>No persistent storage, your home folder is mounted as our home folder</li>
    <li>The tools use native mechanism to manage its own credentials</li>
</ul>

<h2>Tools</h2>
<ul>
    <li>docker client, docker-compose</li>
    <li>kubectl</li>
    <li>oc client</li>
    <li>SSH Client</li>
    <li>jq</li>
    <li>vi, nano</li>
    <li>SSH Client</li>
    <li>net-tools, including ping</li>
    <li>curl, wget</li>
</ul>
-->

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Simple</h3>
        <li>On screen instruction - minize your time & effort for scripting</li>
        <li>Command line console is always avaliable for you.   Click the floating action button at the bottom right of the screen to toggle it</li>
        <li>Smaller in image size, comparing to offical conjur-cli</li>
        <li>No compromise in security</li>
        <li>Comes with handy tools (see below)</li>
      </div>
      <div class="col-md-4">
        <h3>Secure</h3>
        <ul>
            <li>No persistent storage, your home folder is mounted as our home folder</li>
            <li>The tools use native mechanism to manage its own credentials</li>
        </ul>
     </div>
      <div class="col-md-4">
        <h3>Tools</h3>
        <ul>
            <li>docker client, docker-compose</li>
            <li>kubectl</li>
            <li>oc client</li>
            <li>SSH Client</li>
            <li>jq</li>
            <li>vi, nano</li>
            <li>SSH Client</li>
            <li>net-tools, including ping</li>
            <li>curl, wget</li>
        </ul>
    
    </div>
</div>


    <!--
<div class="jumbotron">
    <div class="container">
      <h2>Welcome</h2>
      <p>dap-web-utility is designed for field engineers by field engineers.  Smaller in size but richer in features</p>
      <p><a id="learnmore" class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>
-->
