<h2>Deploy Master</h2>
<br />
Deploy AAM Dynamic Access Provider (DAP) into many platforms, including Amazon EC2, Linux, macOS, and bare-metal servers<br />

<br />
<div class="row border">
  <div class="col-3 bg-light">
    <br />
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action active" id="list-linux-list" data-toggle="list"
        href="#list-linux" role="tab" aria-controls="linux">Linux</a>
      <a class="list-group-item list-group-item-action" id="list-aws-list" data-toggle="list" href="#list-aws"
        role="tab" aria-controls="aws">Amazon EC2</a>
      <a class="list-group-item list-group-item-action" id="list-macos-list" data-toggle="list" href="#list-macos"
        role="tab" aria-controls="macos">macOS</a>
      <a class="list-group-item list-group-item-action" id="list-baremetal-list" data-toggle="list"
        href="#list-baremetal" role="tab" aria-controls="baremetal">Bare-metal servers</a>
        <a class="list-group-item list-group-item-action" id="list-gcp-list" data-toggle="list"
        href="#list-gcp" role="tab" aria-controls="gcp">Google Cloud Platform</a>
      </div>
    <br />
  </div>
  <div class="col-9">
    <br />
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="list-linux" role="tabpanel" aria-labelledby="list-linux-list">
        <br />
        <h2>Linux</h2>
        DAP Master can be deployed on to Docker on Linux<br />
        <button type="button" class="btn btn-primary gotolink"
          data-page="/guides/deploy/master-docker/">Continue</button>
      </div>

      <div class="tab-pane fade show" id="list-aws" role="tabpanel" aria-labelledby="list-aws-list">
        <br />
        <h2>Amazon EC2</h2>
        DAP Master can be deployed on to AWS using AMI & CloudFormation templates<br />
        <button type="button" class="btn btn-primary gotolink" data-page="/guides/deploy/master-aws/">Continue</button>
      </div>

      <div class="tab-pane fade show" id="list-macos" role="tabpanel" aria-labelledby="list-macos-list">
        <br />
        <h2>macOS</h2>
        DAP Master can be deployed on to Docker on macOS<br />
        <button type="button" class="btn btn-primary gotolink"
          data-page="/guides/deploy/master-docker/">Continue</button>
      </div>

      <div class="tab-pane fade show" id="list-baremetal" role="tabpanel" aria-labelledby="list-baremetal-list">
        <br />
        <h2>Bare Metal Server</h2>
        DAP Master can be deployed on to Docker on bare metal servers<br />
        <button type="button" class="btn btn-primary gotolink"
          data-page="/guides/deploy/master-docker/">Continue</button>
      </div>


      <div class="tab-pane fade show" id="list-gcp" role="tabpanel" aria-labelledby="list-gcp-list">
        <br />
        <h2>Google Cloud Platform</h2>
        DAP Master can be deployed on to Docker on Google Cloud Platform<br />
        <button type="button" class="btn btn-primary gotolink"
          data-page="/guides/deploy/master-gcp/">Continue</button>
      </div>

    </div>
  </div>
</div>