<div class="container">
  <hr>
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        <b>dap-web-utility</b> All Rights Reserved
      </div>
    </div>
  </footer>
</div>


<script src="/static/js/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<!--
<script src="/static/js/jquery-3.4.1.slim.min.js" ></script>
<script src="/static/js/popper.min.js" ></script>
<script src="/static/js/bootstrap.min.js"></script>
-->

<!-- Bootstrap JavaScript -->
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"
  integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>


<!--<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/bootstrap-select.min.js"></script>
<script src="/static/js/bootstrap3-typeahead.min.js"></script>
-->
<script src="/static/js/xterm.js"></script>
<script src="/static/js/addons/attach/attach.js"></script>
<script src="/static/js/addons/fit/fit.js"></script>
<script src="/static/js/addons/fullscreen/fullscreen.js"></script>
<script src="/static/js/addons/webLinks/webLinks.js"></script>

<script src="/static/js/socket.io.js"></script>
<script src="/static/js/app.js"></script>
</body>

</html>
